---
import Layout from '../layouts/Layout.astro';
import { TickCircle } from 'iconsax-astro';

import '@fontsource-variable/nunito';
import '@fontsource/oxygen/400.css';
import '@fontsource/oxygen/700.css';

import TextButton from "../components/TextButton.astro";
import Hero from "../components/homepage/Hero.astro";
import Projects from "../components/homepage/Projects.astro";
import Recoms from "../components/homepage/Recoms.astro";
---

<Layout title="Mateusz Pasek | Full-stack Designer">
    <Hero />
    <hr class="w-1/2 rounded-full border-t-[3px] border-accent-light dark:border-accent-dark mx-auto" />
    <Projects />
    <div class="flex justify-between flex-col-reverse gap-10 md:gap-0 md:flex-row px-5 md:px-60 py-10 md:py-20 bg-accent-light/30 dark:bg-accent-dark/30">
        <div class="flex flex-col gap-10 md:w-2/3 font-nunito">
            <div class="flex flex-col items-center md:items-start gap-2 text-color">
                <p class="text-xs">01</p>
                <h3 class="text-base font-semibold">UI/UX Design</h3>
                <div class="flex gap-4 justify-center md:justify-start flex-wrap">
                    <div class="flex items-center gap-1">
                        <TickCircle type="linear" size={25} color="currentColor" class="text-accent" />
                        <p class="text-xs">Web Design</p>
                    </div>
                    <div class="flex items-center gap-1">
                        <TickCircle type="linear" size={25} color="currentColor" class="text-accent" />
                        <p class="text-xs">App Design</p>
                    </div>
                    <div class="flex items-center gap-1">
                        <TickCircle type="linear" size={25} color="currentColor" class="text-accent" />
                        <p class="text-xs">Mobile Design</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center md:items-start gap-2 text-color">
                <p class="text-xs">02</p>
                <h3 class="text-base font-semibold">Development</h3>
                <div class="flex gap-4 justify-center md:justify-start flex-wrap">
                    <div class="flex items-center gap-1">
                        <TickCircle type="linear" size={25} color="currentColor" class="text-accent" />
                        <p class="text-xs">Web Development</p>
                    </div>
                    <div class="flex items-center gap-1">
                        <TickCircle type="linear" size={25} color="currentColor" class="text-accent" />
                        <p class="text-xs">Mobile Develoment</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5 items-center md:items-end font-nunito text-color">
            <h3 class="font-semibold text-lg md:text-xl text-center md:text-right">Creating experience -<br /> from <span class="text-accent">design</span> to <span class="text-accent">implementation.</span></h3>
            <p class="text-xs text-center md:text-right md:w-3/4">I constantly seek to expand the boundaries of creativity in order to produce interesting, user-friendly, and memorable interactive experiences.</p>
            <TextButton text="Learn more" href="/about" />
        </div>
    </div>
    <Recoms />
</Layout>

<style>
 
</style>
