---
import Layout from '../layouts/Layout.astro';
import TxtButton from '../components/TextButton.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro'
import DribbbleIcon from '../components/icons/Dribbble.astro'
import Arrow from '../components/icons/Arrow.astro'
import ProjectCard from '../components/ProjectCard.astro'

// generate project informations based on this props, full is always false
// codename: string;
// image: string;
//     positions: string[];
//     title: string;
//     description: string;
//     link: string | undefined;
//     technologies: string[];
//     full: boolean;

const projects = [
    {
        codename: 'project1',
        image: '/assets/projects/1.webp',
        positions: ['UI/UX Designer', 'Frontend Developer'],
        title: 'Project 1',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.',
        link: 'https://google.com',
        technologies: ['React', 'TailwindCSS', 'Figma'],
        full: false
    },
    {
        codename: 'project1',
        image: '/assets/projects/1.webp',
        positions: ['UI/UX Designer', 'Frontend Developer'],
        title: 'Project 1',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.',
        link: 'https://google.com',
        technologies: ['React', 'TailwindCSS', 'Figma'],
        full: false
    }
]


import { Image } from '@astrojs/image/components';
import '@fontsource-variable/nunito';
import '@fontsource/oxygen/400.css';
import '@fontsource/oxygen/700.css';

import profilePic from '../assets/mpasek.png';

---

<Layout title="Mateusz Pasek | Full-stack Designer">
    <div class="w-full h-screen flex items-center justify-center gap-20 px-40">
        <div class="flex flex-col gap-3 w-2/3">
            <h1 class="text-2xl text-color leading-tight">Hey! I'm <span class="font-medium text-accent">Matt</span>, a <br /> <span class="font-semibold">Fullstack Designer</span></h1>
            <p class="text-sm text-color w-3/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.</p>
            <div class="flex items-center gap-5">
                <TxtButton text="CONTACT ME" href="/contact" />
                <a href="https://linkedin.com/in/m-pasek"><button class="icon"><LinkedinIcon /></button></a>
                <a href="https://dribbble.com/matt-pasek"><button class="icon"><DribbbleIcon /></button></a>
            </div>
            <div class="flex gap-2">
                <Arrow />
                <p class="font-oxygen text-color leading-tight text-sm">UI/UX - WEB DEVELOPMENT - TEAM MANAGEMENT</p>
            </div>
        </div>
        <Image src={ profilePic } alt="Mateusz's photo" class="h-auto w-1/3 rounded-full" />
    </div>
    <hr class="w-1/2 rounded-full border-t-[3px] border-accent-light dark:border-accent-dark mx-auto" />
    <div class="flex flex-col px-20 my-14">
        <div class="flex justify-between font-nunito">
            <div class="flex items-center gap-2">
                <hr class="w-9 rounded-full border-t-[3px] border-accent-light dark:border-accent-dark"/>
                <h2 class="font-semibold text-lg text-color">My recent <span class="text-accent">projects</span></h2>
            </div>
            <div class="flex gap-10">
                <div class="flex flex-col">
                    <p class="font-bold text-base text-accent">2+</p>
                    <p class="font-medium text-color">Projects completed</p>
                </div>
                <div class="flex flex-col">
                    <p class="font-bold text-base text-accent">5</p>
                    <p class="font-medium text-color">Design projects</p>
                </div>
                <div class="flex flex-col">
                    <p class="font-bold text-base text-accent">1</p>
                    <p class="font-medium text-color">Dev projects</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center gap-10 px-20 pt-10">
            {projects.map(project => <ProjectCard {...project} />)}
            {projects.map(project => <ProjectCard {...project} />)}
            {projects.map(project => <ProjectCard {...project} />)}
        </div>
    </div>
</Layout>

<style>
 
</style>
