---
import Layout from '../layouts/Layout.astro';
import TxtButton from '../components/TextButton.astro';
import Tick from '../components/icons/Tick.astro'
import ProjectCard from '../components/ProjectCard.astro'

const recommendations = [
    {
        image: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80',
        name: 'John Doe',
        position: 'CEO at Company',
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.'
    },
    {
        image: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80',
        name: 'John Doe',
        position: 'CEO at Company',
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.'
    }
]

const projects = [
    {
        codename: 'project1',
        imagesrc: 'https://images.unsplash.com/photo-1654157925394-4b7809721149?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1760&q=80',
        positions: ['UI/UX Designer', 'Frontend Developer'],
        title: 'Project 0',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.',
        link: 'https://google.com',
        technologies: ['React', 'TailwindCSS', 'Figma'],
        full: false
    },
    {
        codename: 'project1',
        image: '/assets/projects/1.webp',
        positions: ['UI/UX Designer', 'Frontend Developer'],
        title: 'Project 1',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Ends with Where technology meets aesthethics.',
        link: 'https://google.com',
        technologies: ['React', 'TailwindCSS', 'Figma'],
        full: false
    }
]

import '@fontsource-variable/nunito';
import '@fontsource/oxygen/400.css';
import '@fontsource/oxygen/700.css';

import TextButton from "../components/TextButton.astro";
import RecoCard from "../components/RecoCard.astro";
import HomeHero from "../components/homepage/Hero.astro";
import Projects from "../components/homepage/Projects.astro";

---

<Layout title="Mateusz Pasek | Full-stack Designer">
    <HomeHero client:visible />
    <hr class="w-1/2 rounded-full border-t-[3px] border-accent-light dark:border-accent-dark mx-auto" />
    <Projects />
    <div class="flex justify-between flex-col-reverse gap-10 xl:gap-0 xl:flex-row px-5 xl:px-60 py-10 xl:py-20 bg-accent-light/30 dark:bg-accent-dark/30">
        <div class="flex flex-col gap-10 xl:w-2/3 font-nunito">
            <div class="flex flex-col items-center xl:items-start gap-2 text-color">
                <p class="text-xs">01</p>
                <h3 class="text-base font-semibold">UI/UX Design</h3>
                <div class="flex gap-4 justify-center xl:justify-start flex-wrap">
                    <div class="flex items-center gap-1">
                        <Tick />
                        <p class="text-xs">Web Design</p>
                    </div>
                    <div class="flex items-center gap-1">
                        <Tick />
                        <p class="text-xs">App Design</p>
                    </div>
                    <div class="flex items-center gap-1">
                        <Tick />
                        <p class="text-xs">Mobile Design</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center xl:items-start gap-2 text-color">
                <p class="text-xs">02</p>
                <h3 class="text-base font-semibold">Development</h3>
                <div class="flex gap-4 justify-center xl:justify-start flex-wrap">
                    <div class="flex items-center gap-1">
                        <Tick />
                        <p class="text-xs">Web Development</p>
                    </div>
                    <div class="flex items-center gap-1">
                        <Tick />
                        <p class="text-xs">Mobile Development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5 items-center xl:items-end font-nunito text-color">
            <h3 class="font-semibold text-lg xl:text-xl text-center xl:text-right">Creating experience -<br /> from <span class="text-accent">design</span> to <span class="text-accent">implementation.</span></h3>
            <p class="text-xs text-center xl:text-right xl:w-3/4">I constantly seek to expand the boundaries of creativity in order to produce interesting, user-friendly, and memorable interactive experiences.</p>
            <TextButton text="Learn more" href="/about" />
        </div>
    </div>
     <div class="flex items-center flex-col xl:px-20 my-14">
        <div class="flex w-full justify-between font-nunito">
            <div class="flex items-center gap-2">
                <hr class="w-9 rounded-full border-t-[3px] border-accent-light dark:border-accent-dark"/>
                <h2 class="font-semibold text-lg text-color">Recommendations</h2>
            </div>
            <div class="flex gap-10">
                <!-- controls -->
            </div>
        </div>
        <div class="flex flex-col xl:flex-row flex-wrap justify-center gap-10 px-20 pt-10">
            {recommendations.slice(-3).map(reco => <RecoCard {...reco} />)}
        </div>
    </div>
</Layout>

<style>
 
</style>
